@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
body {
    background-image: url("images/stars.jpg");
    background-size: 125% 50%;
    font-family: 'Herr Von Muellerhoff', cursive;
    color: rgb(0, 255, 0);
    text-shadow: 2px 2px yellow;
}

/* Nav bar example taken from https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

li.horizontal_nav a:hover {
    background-color: orange;
}

li.horizontal_nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img {
    display: block;
    border: 10px dotted rgb(118, 177, 10);
    margin-top: 20px;
    width: 600px;
    height: 250px;
}  

img.links {
    padding: 20px;
    width: 64px;
    height: 64px;
}  

div.section {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
}

#table img {
    width: 128px;
    height: 128px;
    margin: 15px;
}

.section img {
    padding: 20px;
}

.section p {
    margin-top: 100px;
}

img.sec {
    float: left;
    width: 256px;
    height: 256px;
}
