@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap');
body {
    background-image: url("images/stars.jpg");
    font-family: 'Shippori Mincho', serif;
    color: salmon
}

/* Nav bar example taken from https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

li.horizontal_nav a:hover {
    background-color: white;
}

li.horizontal_nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* rounded imgs https://www.w3schools.com/howto/howto_css_rounded_images.asp */
img.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dotted green;
    border-radius: 50%;
    margin-top: 20px;
}  

img.links {
    padding: 20px;
    width: 64px;
    height: 64px;
    border-radius: 20%;
}  

div.section {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
}

#my_links {
    display: flex;
    justify-content: center;
}

#table {
    display: flex;
    justify-content: center;
    align-items: center;
}

#table img {
    width: 128px;
    height: 128px;
    margin: 15px;
}

.section img {
    padding: 20px;
}

.section p {
    margin-top: 100px;
}

img.sec {
    float: left;
    width: 256px;
    height: 256px;
}
