body {
    background-image: url("background.jpeg");
    background-size: cover; /*Taken from https://stackoverflow.com/questions/376253/stretch-and-scale-css-background*/
    background-attachment: fixed;
    font-family: 'Shippori Mincho', serif;
    color: white
}

img.sec {
    width: 15em;
    height: 15em;
}

h1, h2, h3 {
    text-align: center;
}

div.section {
    margin-top: 5%;
}
/* Nav bar example taken from https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.horizontal_nav {
    float: left;
}

li.horizontal_nav a:hover {
    background-color: #111;
}

li.horizontal_nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* rounded imgs https://www.w3schools.com/howto/howto_css_rounded_images.asp */
img.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}  

img.links {
    width: 64px;
    height: 64px;
    border-radius: 20%;
}  

div.content {
    display: inline-block;
}

/* Grid of images taken from https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp*/  
/* Create four equal columns that sits next to each other */

#my_links {
    display: flex;
    justify-content: center;
}

#table {
    display: flex;
    justify-content: center;
    align-items: center;
}

#table img {
    width: 128px;
    height: 128px;
}