body {
        background-image: url("old_paper_image.jpg");
        font-family: 'Cormorant Upright', serif;
}

h1, h2, h3, h4, h5 {
        text-decoration: underline;
}

p {
        margin-top: 2em;
        margin-bottom: 2em;
}

p::first-letter {
        font-size: 125%;
        font-weight: bold;
}

img {
        border: 2px solid black;
}