body {
        background-image: url("old.jpg");
        background-size: cover; /*Taken from https://stackoverflow.com/questions/376253/stretch-and-scale-css-background*/
        background-attachment: fixed;
        font-family: 'Cormorant Upright', serif;
}

h1, h2, h3, h4, h5 {
        text-decoration: underline;
}

p {
        margin-top: 2em;
        margin-bottom: 2em;
}

p::first-letter {
        font-size: 125%;
        font-weight: bold;
}

img {
        border: 2px solid black;
}